p {
  color: red;
}
h2 {
  text-align: center;
}

.background-image {
    background: url('https://images.unsplash.com/photo-1514632595-4944383f2737?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80') no-repeat 100% 100%;
  }

h1 {
  text-align: center;
}